<html >
<head>
    
    <title>Game Result</title>
</head>
<body>

    <h1>Results...<br><br></h1>
    
    You picked: <%=player%><br>
    Server picked: <%=server%><br>
    Player wins: <%=playerScore%><br>
    Server wins: <%=serverScore%><br>
    Total Games: <%=totalScore%><br>
    

    <form action="backend.js">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>