<html >
<head>
    
    <title>Game Result</title>
</head>
<body>

    <h1><%=gameResult%><br><br></h1>
    
    You picked: <%=player%><br>
    Server picked: <%=server%><br>
    Player wins: <%=playerScore%><br>
    Server wins: <%=serverScore%><br>
    Ties: <%=tieScore%><br>
    Total Games: <%=totalScore%><br>
    <br>
    <form action = "/" method ="get">
        <br>
        <input type="submit" value="Play again!">
    </form>
    
</body>
</html>
